<h2>Add a new team</h2>

<form action="/teams" method="post">

<label for="team-name">Team Name:</label>
<input type="text" name="name" id="team-name">

<br>

<label for="team-region">Region:</label>
<input type="text" name="region" id="team-region">

<br>

<input type="submit" value="Create team"/>


</form>
