<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">

</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/heroes">Heroes</a></li>
      <li><a href="/teams">Teams</a></li>
      <li><a href="/heroes/new">Add a new Hero to Academy</a></li>
      <li><a href="/teams/new">Add a new Team</a></li>

    </ul>
  </nav>

  <div class="flex-container horizontal">
    <div style="flex-grow: 1"></div>
    <div style="flex-grow: 2">
      <div class="body1"><%= yield %></div>
    </div>
    <div style="flex-grow: 1"></div>
  </div>


  </body>
  </html>
