<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">

</head>

<body>
  <div class="flex-container horizontal">
    <div style="flex-grow: 1">
      <nav>
        <div class="flex-container vertical">

      
          <div style="flex-grow: 1">

            <a href="/" class="button">Home</a>
            </div>

            <div style="flex-grow: 1">
            <a href="/heroes" class="button">Heroes</a>
            </div>
            <div style="flex-grow: 1">
            <a href="/teams" class="button">Teams</a>
            </div>
            <div style="flex-grow: 1">
            <a href="/heroes/new" class="button">Add a new Hero to Academy</a>
            </div>
            <div style="flex-grow: 1">
            <a href="/teams/new" class="button">Add a new Team</a>
            </div>
          </div>
      </nav>
    </div>
    <div style="flex-grow: 2">
      <div class="body1">
        <%= yield %></div>
      </div>
      <div style="flex-grow: 1">Identification text</div>
    </div>


  </body>
  </html>
