<h1>Edit a hero in academy </h1>

<p>display form</p>

<form action="/heroes" method="post">

<label for="hero-name">Hero Name:</label>
<input type="text" name="name" id="hero-name" value="<%= @hero.name %>">

<br>

<label for="home-world">Home World:</label>
<input type="text" name="world" id="home-world" value="<%= @hero.world %>">

<br>
<p>Available for Hire?</p>
<input type="radio" name="hireable" id="hired1" value="true">
<label for="hired1">True</label>
<input type="radio" name="hireable" id="hired2" value="false">
<label for="hired2">False</label>

<br>

<input type="submit" value="Enrol Hero"/>



</form>
