<h1>HEROES</h1>

<h3>List of all Heroes</h3>
<hr />

<% @heroes.each do |hero| %>
  <h2><a href="/heroes/<%= hero.id %>"><%= hero.name %></a></h2>
  <p>World: <%= hero.world %></p>
  <p><%= hero.hireable_pretty %></p>
  <hr />
<% end %>
