<h1>HEROES</h1>

<p>List of all heroes</p>
<hr />

<% @heroes.each do |hero| %>
  <h1><a href="/heroes/<%= hero.id %>"><%= hero.name %></a></h1>
  <p>World: <%= hero.world %></p>
  <p>hireable <%= hero.hireable_pretty %></p>
  <hr />
<% end %>

<p> add HERO BUTTON</p>

<p>delete HERO BUTTON</p>
